html, body{
  font-size: 17px;
  margin: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 0 !important;
}
div > div.input-field.col.s5 > select {
  padding: 0 1rem !important;
  width: auto !important;
}
.calender-div {
  background-color: #2196f3;
  z-index: 50;
}
#id01 > div > div > div > div > form > div:nth-child(3) > div:nth-child(1) > div > div > div > div.time-picker > div.hour-selector > div.scroll-hider > ul {
  height: 185px;
}

.x06{
  font-size: 0.6rem;
}
.x1{
  font-size: 1rem;
}
.x15{
font-size: 1.5rem;
}
.x2{
  font-size: 2rem;
}
.x25{
  font-size: 2.5rem;
}
.x3{
  font-size: 3rem;
}
.x35{
  font-size: 3.5rem;
}
/* access auth global styling */
#field2 div  i.icon.ion-eye-disabled {
  margin-left: 6rem !important;
  right: 4rem;
}
#field2 > div > div {
  margin: 2rem 0 !important;
}
#side-nav > a{
  padding: 19px 16px;
  font-weight: 500 !important;
}
p.field {
  margin-right: auto;
  text-align: left;
}
div.patient-profile label.active, div.doctor-profile label.active, div.pharmacist-profile label.active, div.medicallabscientist-profile label.active {
  color: #fff !important;
}
/* #app > div > div.row.container.blue-grey.white-text.center-align > div > div.input-field.col.s6 > label, input :read-only+label, input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:not(.browser-default):disabled, input[type=text]:not(.browser-default)[readonly="readonly"], input[type=password]:not(.browser-default):disabled, input[type=password]:not(.browser-default)[readonly="readonly"], input[type=email]:not(.browser-default):disabled, input[type=email]:not(.browser-default)[readonly="readonly"], input[type=url]:not(.browser-default):disabled, input[type=url]:not(.browser-default)[readonly="readonly"], input[type=time]:not(.browser-default):disabled, input[type=time]:not(.browser-default)[readonly="readonly"], input[type=date]:not(.browser-default):disabled, input[type=date]:not(.browser-default)[readonly="readonly"], input[type=datetime]:not(.browser-default):disabled, input[type=datetime]:not(.browser-default)[readonly="readonly"], input[type=datetime-local]:not(.browser-default):disabled, input[type=datetime-local]:not(.browser-default)[readonly="readonly"], input[type=tel]:not(.browser-default):disabled, input[type=tel]:not(.browser-default)[readonly="readonly"], input[type=number]:not(.browser-default):disabled, input[type=number]:not(.browser-default)[readonly="readonly"], input[type=search]:not(.browser-default):disabled, input[type=search]:not(.browser-default)[readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"]{
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 15px !important;
} */